# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies & build output
node_modules/
dist/
dist-ssr/

# Environment files
# (This will ignore any *.local files, including .env.local and .env.development.local)
*.local

# If you ever use other env files you don’t want checked in, you can also add:
# .env
# .env.*.local

# Firebase local emulator & cache
.firebase/

# Editor directories and files
.vscode/
!.vscode/extensions.json   # keep your workspace recommendations
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
